body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }
  
  header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    margin: 0;
  }

  p, ul, li{
    font-weight: 600;
  }
  
  main {
    padding: 20px;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  h2 {
    color: #007bff;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  a {
    text-decoration: none;
    color: #007bff;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px;
  }
  
  #about::before,
  #about::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #007bff;
    margin: 10px 0;
  }
  
  #expertise::before,
  #expertise::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #007bff;
    margin: 10px 0;
  }
  
  #work::before,
  #work::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #007bff;
    margin: 10px 0;
  }
  
  #experience::before,
  #experience::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #007bff;
    margin: 10px 0;
  }
  
  #contact::before,
  #contact::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #007bff;
    margin: 10px 0;
  }
  